html,
body {
  background-color: rgb(24, 26, 27);
}

.menu {
  height: 100%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 26, 27);
}

.inputLine {
  height: 100%;
  width: 13%;
  padding: 10px;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  color: white;
}

.delete {
  display: none;
}

.update {
  display: none;
}

.select {
  color: black;
}

.btn1 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

table td {
  border: 1px solid white;
  padding: 10px;
  color: white;
}

table th {
  color: white;
}

table {
  border: 1px solid white;
  width: 50%;
  margin: 0 auto;
}
